streamlit
streamlit-extras
pandas
numpy
fpdf
tabula-py
reportlab
poppler-utils
PyPDF2
python-docx
textblob
transformers
pymed
dateparser
nltk
scikit-surprise
rouge-score
sacrebleu
bert-score
jpype1
openpyxl
